
<!-- add-product-form.component.html -->
<form class="max-w-lg mx-auto" [formGroup]="postForm">
    <!-- Nombre Producto -->
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900">Title</label>
      <input type="text" formControlName="title"
        class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5"
        placeholder="Title of the post" />
      <div *ngIf="titleValidate">
        <p class="text-red-500 text-sm font-medium">Title invalid.</p>
      </div>
    </div>

    <div class="mb-5">
      <img-drop (fileSelected)="onFileSelected($event)"></img-drop>
      <div *ngIf="!selectedFile && postForm.touched" class="text-red-500 text-sm font-medium">
        Please select an image
      </div>
    </div>
  
    <button type="button" 
      (click)="submit()"
      [disabled]="postForm.invalid || !selectedFile"
      class="text-white bg-blue-700 hover:bg-blue-800 primarybutton font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mb-3">
      Post
    </button>
</form>
