<nav class="bg-purple-900 border-gray-200 dark:bg-purple-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/login" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white">Login</span>
    </a>
    <a href="/register" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white">Register</span>
    </a>
    <a href="/view_posts" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white">View</span>
    </a>
    <a href="/posts" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white">Posts</span>
    </a>
    <a (click)="logout()" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white">Logout</span>
    </a>
      
  </div>
</nav>

